<div class="page-header"> <h1><center>Contact IVP</center> </h1>
</div>

<div class="container">
  <div class="col-md-8">
    <p> Looking to get your project started? Reach out and we'll setup a consultation and get you a quote.</p>
    <p> If email isn't your style, you can reach Hans Ingebretsen by phone at the listing referenced on the bottom of the page.</p>
  </div>
</div>     

<div class="container-content">
  <div class="container">
    <%= form_tag(send_email_path) do %>
      <div class="form-group">
        <%= label_tag 'name', 'Name' %>
        <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Your Name' %>
      </div>
      <div class="form-group">
      <%= label_tag 'email', 'Email' %>
      <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'Your Email' %>
      </div>
      <div class="form-group">
        <%= label_tag 'message', 'Message' %>
         <%= text_area_tag 'message', nil, class: 'form-control', rows: 10, placeholder: 'Your Message' %>
      </div>
      <%= submit_tag nil, class: 'btn btn-default btn-about pull-right' %>
    <% end %>
  </div>
</div>  
